fastapi==0.109.2
pydantic==2.6.1
python-dotenv==1.0.1
python_jose==3.3.0
pytz==2023.3.post1
SQLAlchemy==2.0.23
uvicorn==0.27.0.post1
typing_extensions==4.9.0
mysql-connector-python
aiohttp
aiosignal
annotated-types
anyio
attrs
bcrypt
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
defusedxml
distro
ecdsa
fonttools
frozenlist
future
greenlet
h11
httpcore
httpx
idna
joblib
kiwisolver
matplotlib
multidict
numpy
oauthlib
openai
packaging
pandas
passlib
pillow
pip
plotly
pyasn1
pycparser
pycryptodome
pydantic_core
PyJWT
pymongo
pyparsing
python-dateutil
python-jose
python-jose-cryptodome
python3-openid
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools
six
sniffio
social-auth-core
starlette
tenacity
threadpoolctl
tqdm
tzdata
urllib3
yarl
